<div class="columns is-mobile is-centered">
  <div class="column is-half">
  <%= link_to 'Back', tweet_path(@tweet) %>
<div class="panel-block">

  <div class="box">
  	<article class="media">

  		<div class="media-left">
  			<figure class="image is-64x64">
  				<%= gravatar_image_tag(@comment.user.email, size: 64, alt: @comment.user.name) %>
  			</figure>
  		</div>

  		<div class="media-content">
  			<div class="content">
  			    	<strong><%= @comment.user.name %></strong><br />
  				    <small>@<%= @comment.user.username %></small> 
  				    <span> . </span><small><%= @comment.created_at.strftime("%B %d %Y, %l:%M%P") %></small>               
              <br/><hr>
  				<p><%= @comment.content %></p>
           <figure class="image">
                <% if @comment.images.attached? %>
                  <% @comment.images.each do |image| %>
                    <%= image_tag(image, size: '100%') %>
                  <% end %>
                <% end %>
					  </figure>
  			</div>
              <% if user_signed_in? %> 
                  <nav class="box">
                        <div class="level is-mobile">
                          <% if current_user.id == @tweet.user_id  %>  
                                <%= button_to "Hide", tweet_comment_path(@tweet,@comment), class: "hide_btn", remote: true %>
                                <%= button_to "Remove", tweet_comment_path(@tweet,@comment), method: :delete, class:"remove_btn" ,data: { confirm: "Are you sure you want to delete this comment?"} , remote: true %>
                          <% end %>
                              <% if current_user.id == @comment.user_id %>
                                  <%= button_to "Edit", edit_tweet_comment_path(@tweet, @comment),class:"edit_btn", remote: false %>
                              <% end %>
                        </div>
                  </nav>
              <% end %>
     	  </div>
    </article>
  </div>
</div>
</div>
</div>
</div>