<div class="column">
	<nav class="panel">
		<p class="panel-heading">Who to Follow</p>

		<% @users.each do | user |  %>
		  <div class="panel-block">
			<article class="media">
				<div class="media-left">
					<figure class="image is-128x128">
					  <% if user.profile_pic.attached? %>
						  <%= image_tag(user.profile_pic) %>
					  <% end %>
					</figure>
				</div>
				<div class="media-content">
					<div class="content">
						<p>
							<strong><%= link_to user.name, user_path(user) %></strong><br />
							<small>@<%= user.username %> </small>

							<% if user_signed_in? %>
								<% if current_user.following?(user)%>
									<%= link_to "Unfollow", user_relationships_path(user),method: :delete, class: "button is-info" %> 
								<% else %>
									<%= link_to "Follow", user_relationships_path(user),method: :post, class: "button is-info"  %> 
								<%# <%= link_to "Follow", relationships_path,method: :post, class: "button is-info"  %> 
								<% end %>
							<% end %>
						</p>
					</div>	
				</div>
			</article>
		  </div>
		<% end %>
	</nav>
		<div class="is-pulled-right is-success">
			<%= link_to "See more people to follow", users_path, class: "button is-link" %>
		</div>
</div>

