<div class="columns is-mobile is-centered">
  <div class="column is-half">
  
  <p class="panel-heading is-centered">Twitter Users</p>
  <% @users.each do | user | %>
	<nav class="panel">
		<div class="panel-block">
			<article class="media">
				<div class="media-left">
					<figure class="image is-128x128">
					  <% if user.profile_pic.attached? %>
						  <%= image_tag(user.profile_pic) %>
					  <% end %>
					</figure>
				</div>
				<div class="media-content">
					<div class="content">
						<p>
							<strong><%= link_to user.name, user_path(user) %></strong><br />
							<small>@<%= user.username %></small>
						</p>
					</div>
				</div>
			</article>
			<article class="media">
				<div class="media-right">
				    <div class="is-pulled-right">
					<% if not user.id == current_user.id %>
			            <%= link_to "Follow", user_relationships_path(user), class: "button is-info" %>
					<% end %>
						<%= link_to "View Tweets", user_path(user), class: "button is-info" %>
					</div>
				</div>
			</article>
		</div>

		<div class="panel-block">
			<div class="level is-mobile is-centered">
				<div class="level-item has-centered-text">
					<div>
						<p class="heading">Tweets</p>
						<p class="title is-6"><%= user.tweets.count %></p>
					</div>
				</div>
				<div class="level-item has-centered-text">
					<div>
						<p class="heading">Following</p>
						<p class="title is-6"><%= user.following.count %></p>
					</div>
				</div>
					<div class="level-item has-centered-text">
					<div>
						<p class="heading">Followers</p>
						<p class="title is-6"><%= user.followers.count %></p>
					</div>
				</div>
			</div>
		</div>
	</nav>

<% end %>
</div>
</div>